
img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#idred {
    text-align: center;
  color : red }

#orangep {
    text-align: center;
  color : orange }

#darkenp {
    text-align: center;
  color : DarkCyan }

#greenp {
  text-align: center;
  color : green }

.class {
  color : yellow }

#name {
    font-weight: bold;
    text-align: center;
  color :blue }


li {
  display: block ;
}

a {
  text-decoration: none
}

ul {
    font-weight: bold;
  float : right }

h1 {
text-align: center;
  color : blueviolet; }

   p {
     text-align: center; }

body {background:black ;}


